<!-- <div class="container">
    <form [formGroup]="orderinfo" (ngSubmit)="onSubmit()">
        <label>
            Name:
          <input type="text" formControlName="name">
        </label>
      
        <label>
          Email:
          <input type="text" formControlName="email">
        </label>
      
        <label>
          Phone:
          <input type="text" formControlName="phone">
        </label>
       
        <label>
          Adress:
          <input type="text" formControlName="adress">
        </label>
      
        <input type="submit" class="btn btn-primary" value="Submit">
       </form>
</div>> -->