<div class="container text-center">
    <form [formGroup]="orderinfo" (ngSubmit)="onSubmit()">
      <div>
        <label class="m-3">
            Name:
          <input type="text" formControlName="name">
        </label>
      </div>
      <div>
        <label class="m-3">
          Email:
          <input type="text" email formControlName="email">
        </label>
      </div>
      <div>
        <label class="m-3">
          Phone:
          <input type="number" formControlName="phone">
        </label>
      </div>
      <div>
        <label class="m-3">
          Adress:
          <input type="text" formControlName="adress">
        </label>
      </div>
        <input type="submit" class="btn btn-success m-3" value="Order">
    </form>
</div>