<div class="container">
    <div class="row p-lg-5 p-sm-3 p-md-4">
        <div class="text px-5 pt-3 col-lg-6 col-sm-12">
            <h1>Hi I am Michael </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur consectetur explicabo nihil rem molestiae aliquam voluptatem facilis repellendus? Accusamus, magni quas sint suscipit error quasi a nemo autem nesciunt ipsa. Facere, voluptates quos in harum ullam ratione inventore expedita eligendi amet, eius eaque nisi recusandae non atque corrupti magnam perspiciatis sit odio illum! Odit architecto perspiciatis voluptatibus consequatur fugit veritatis omnis eligendi ab quas. Ducimus id e</p>
        </div>
        <div class="col-lg-6 col-sm-12 img-fluid img1">
        </div>
    </div>
    <div class="row p-lg-5 p-sm-3 p-md-4 bg-gray ">
        <div class="col-lg-6 col-sm-12 img-fluid img2">
        </div>
        <div class="text px-5 pt-3 col-lg-6 col-sm-12">
            <h4>How i fell in love with Pizza</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur consectetur explicabo nihil rem molestiae aliquam voluptatem facilis repellendus? Accusamus, magni quas sint suscipit error quasi a nemo autem nesciunt ipsa. Facere, voluptates quos in harum ullam ratione inventore expedita eligendi amet, eius eaque nisi recusandae non atque corrupti magnam perspiciatis sit odio illum! Odit architecto perspiciatis voluptatibus consequatur fugit veritatis omnis eligendi ab quas. Ducimus id earum tempore ipsa expedita, repellat neque excepturi ad adipisci animi possimus, ipsam eum mollitia dicta cumque consequatur. Repellat beatae accusantium rem quae tempore earum impedit iste magni, animi blanditiis inventore mollitia architecto et quas.</p>
        </div>
    </div>
</div>