<style>
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
</style>
<div class="herobackground d-flex align-items-center">
    <div class="herotext">
        <div>
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nesciunt saepe iste laudantium voluptatem maxime quae cupiditate nam laborum quia autem, mollitia omnis fugiat, consectetur veritatis pariatur, cumque culpa ad unde. Architecto ea libero vitae tempora repellendus similique excepturi eligendi mollitia iste quisquam hic deleniti nam labore minus delectus vel adipisci non, soluta eos accusantium? Error rem ad ratione quae voluptas facilis nulla hic? Velit, molestias ex delenitieaque quis, qui ab ullam eius facere neque excepturi sed id, odit nostrum animi eos sapiente dignissimos doloremque nemoquasi modi molestiae distinctio aliquid corporis!</p>
        </div>
    </div>
</div>
<div class="d-flex text">
    <div class="px-lg-5">
        <h1>Ristorante Il Gambero Rosso</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni molestiae dolor culpa nisi incidunt eaque esse laborum enim itaque? Nesciunt itaque accusantium excepturi quae nihil ullam veritatis optio consequatur accusamus ab, culpa assumenda quo dolore, necessitatibus odio asperiores eaque, facere nostrum explicabo alias corporis. Molestias inventore ut fugiat nostrum excepturi.</p>
        <h3>Lorem Ipsum ?</h3>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quia.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officii</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. O</li>
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, quis quia. Tempora temporibus quas velit quisquam enim minima non ut veritatis. Veniam necessitatibus voluptate dignissimos eius, veritatis, autem beatae accusamus soluta officia vel quae illo ullam ducimus qui, fugit unde ipsam. Rerum necessitatibus odio et quae facere quasi ut unde!</p>
    </div>
    <div class="restaurantimg">
        <img src="https://images.pexels.com/photos/8177890/pexels-photo-8177890.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Pizzarestaurant">
    </div>
</div>


